h2{
  margin-top: 10px;
  text-align: center;
  font-size: 2em;
  color:  black;
  font-weight: 400;
  text-shadow: 0 1px 2px gray;
}
.cards {
    margin: auto;
    font-size: large;
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
    width: 20em;
  }
  .cards li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #eee;
    color: #3f51b5;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .cards li:hover {
    background-color: rgba(79, 170, 255, 0.774);
    left: .1em;
  }
  .cards li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .cards li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .cards .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 1.2em 1em 0 1em;
    background-color: #3f51b5;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  a{
    text-decoration: none;
    color: #3f51b5;
  }
  a:hover{
    color: #3f51b5;
  }
  