<body>
    <div class="col-md-12">
        <div class="card card-container">
          <img
            id="profile-img"
            src="https://pbs.twimg.com/profile_images/1138193289973075968/s4U8dhpQ_400x400.png"
            class="profile-img-card"
          />
          <form
            *ngIf="!isLoggedIn"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate
          >
          <mat-form-field appearance="fill">
            <div class="form-group">
              <input
                matInput
                type="text"
                class="form-control"
                name="card_name"
                [(ngModel)]="form.card_name"
                required
                placeholder="Card name"
                #card_name="ngModel"
              />
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="card_name.errors && f.submitted"
              >
                Card name is required!
              </div>
            </div>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <div class="form-group">
              <textarea 
              matInput
              type="text"
              class="form-control"
              name="card_description"
              [(ngModel)]="form.card_description"
              required
              placeholder="Description"
              minlength="4"
              #card_description="ngModel"></textarea>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="card_description.errors && f.submitted"
              >
                <div *ngIf="card_description.errors.required">Description is required</div>
              </div>
            </div>
        </mat-form-field>
            <div class="form-group">
              <button mat-raised-button class="btn btn-primary btn-block" color="primary">
                Create
              </button>
            </div>
            <div class="form-group">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && isLoginFailed"
              >
                Create card failed: {{ errorMessage }}
              </div>
            </div>
          </form>  
          <div class="alert alert-success" *ngIf="isLoggedIn">
            Card created.
          </div>
        </div>
      </div>
</body>
