<mat-toolbar color="primary" class="bar">
  <nav>
    <a routerLink="/register" *ngIf="isNotLoggedIn">Register</a>
    <a routerLink="/login" *ngIf="isNotLoggedIn">Login</a>
    <a routerLink="/dashboard" *ngIf="isLoggedIn">Dashboard</a>
    <a routerLink="/cards" *ngIf="isLoggedIn">Cards</a>
    <a routerLink="/newcard" *ngIf="isLoggedIn && isAdmin">Add new card</a>
    <button (click)="logOut()" mat-raised-button color="warn" *ngIf="isLoggedIn">Log out</button>
  </nav>
</mat-toolbar>

<h1>{{title}}</h1>
<router-outlet></router-outlet>
